<!DOCTYPE html>
<html lang="en">
<head>
  <script src="game.js"></script>
</head>
<body>
  <div class="alphabet">
    <a href="">A</a>
    <a href="">B</a>
    <a href="">C
    <a href="">D
    <a href="">E
    <a href="">F
    <a href="">G
    <a href="">H
    <a href="">I
    <a href="">J
    <a href="">K
    <a href="">L
    <a href="">M
    <a href="">N
    <a href="">O
    <a href="">P
    <a href="">Q
    <a href="">R
    <a href="">S
    <a href="">T
    <a href="">U
    <a href="">V
    <a href="">W
    <a href="">X
    <a href="">Y
    <a href="">Z
  </div>
</body>
</html>
