<!DOCTYPE html>
<html lang="en">
<head>
  <script src="game.js"></script>
</head>
<body>
  <div class="alphabet">
    A
    B
    C
    D
    E
    F
    G
    H
    I
    J
    K
    L
    M
    N
    O
    P
    Q
    R
    S
    T
    U
    V
    W
    X
    Y
    Z
  </div>
</body>
</html>
