<main id="gamepage">
  <div class="container">

    <nav>
      <ul>
        <li>Techman</li>
        <li>Good luck, <%= @current_user.username %></li>
      </ul>
    </nav>

    <div id="word">
    </div>

    <div id="openModal3" class="hidden modalDialog3">
      <div>
        <div id="gameovertext">
          <h1>Game Over</h1>
          <a class="link" href="/lose"><button class="returnbtn">Return To Profile</button></a>
        </div>
      </div>
    </div>

    <div id="openModal4" class="hidden modalDialog3">
      <div>
        <div id="wintext">
          <h1>Congrats, you get 10 points!</h1>
          <a clas="link" href="/win"><button class="returnbtn">Return To Profile</button></a>
        </div>
      </div>
    </div>

    <div id="alphabet">
      <span id="A"><a href="#">A</span></a>
      <span id="B"><a href="#">B</span></a>
      <span id="C"><a href="#">C</span></a>
      <span id="D"><a href="#">D</span></a>
      <span id="E"><a href="#">E</span></a>
      <span id="F"><a href="#">F</span></a>
      <span id="G"><a href="#">G</span></a>
      <span id="H"><a href="#">H</span></a>
      <span id="I"><a href="#">I</span></a>
      <span id="J"><a href="#">J</span></a>
      <span id="K"><a href="#">K</span></a>
      <span id="L"><a href="#">L</span></a>
      <span id="M"><a href="#">M</span></a>
      <span id="N"><a href="#">N</span></a>
      <span id="O"><a href="#">O</span></a>
      <span id="P"><a href="#">P</span></a>
      <span id="Q"><a href="#">Q</span></a>
      <span id="R"><a href="#">R</span></a>
      <span id="S"><a href="#">S</span></a>
      <span id="T"><a href="#">T</span></a>
      <span id="U"><a href="#">U</span></a>
      <span id="V"><a href="#">V</span></a>
      <span id="W"><a href="#">W</span></a>
      <span id="X"><a href="#">X</span></a>
      <span id="Y"><a href="#">Y</span></a>
      <span id="Z"><a href="#">Z</span></a>
    </div>

    <div id="lives">
      <h1 id="numberoflives"></h1>
    </div>

    <div id="hangman">
      <div id="hangmanpost" >
        <img src="assets/hangman.png">
      </div>
      <div id="hangmanhead" class="hidden">
        <img src="assets/head.png">
      </div>
      <div id="hangmanbody" class="hidden">
        <img src="assets/body.png">
      </div>
      <div id="hangmanarm1" class="hidden">
        <img src="assets/arm1.png">
      </div>
      <div id="hangmanarm2" class="hidden">
        <img src="assets/arm2.png">
      </div>
      <div id="hangmanleg1" class="hidden">
        <img src="assets/leg1.png">
      </div>
      <div id="hangmanleg2" class="hidden">
        <img src="assets/leg2.png">
      </div>
    </div>
  </div>
</main>
<script>
$(function(){
  GAME.HANGMAN();
})
</script>
