<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Techman</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="container">
    <h1>Techman</h1>
      <button class="btn">Log In</button>
      <button class="btn">Sign Up</H2>
    <img id="noose" src="/assets/noose.png">
  </div>
</body>
</html>
