<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Techman</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="container">
    <h1>Techman</h1>
    <h2>A game of Hangman</h2>
  </div>
</body>
</html>
