<div id="container">
  <h1>Techman</h1>
    <button class="btn"><a href="#openModal">Sign In</a></button>
    <button class="btn"><a href="#openModal2">Sign Up</a></button>
    <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h1>Sign In</h1>
          <form>
            <input type="text" name="username" placeholder="Username" class="username_login">
            <br><br>
            <input type="text" name="password" placeholder="Password" class="password_login">
            <br><br><br><br>
            <input type="submit" value="Log In" class="submit"></fieldset>
          </form>
        </div>
    </div>
    <div id="openModal2" class="modalDialog2">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h1>Sign Up</h1>
        <form>
          <input type="text" name="username" placeholder="Username" class="username_login">
          <br><br>
          <input type="text" name="password" placeholder="Password" class="password_login">
          <br><br>
          Insert photo here
          <br><br>
          <input type="submit" value="Create An Account" class="submit"></fieldset>
        </form>
      </div>
    </div>
  <img id="noose" src="/assets/noose.png">
</div>
