#gamepage body {
  background: #ffffff url("screen.png") no-repeat center top 0px;
  margin: 0 auto;
}
#gamepage h1 {
  font-size: 70px;
  font-family: Courier;
}
#gamepage #container {
  background: url("/assets/screen.png") center top 0px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 920px;
  height: 800px;
  position: relative;
  top: 0px;
}
#gamepage h2 {
  font-size: 35px;
  font-family: Courier;
  color: green;
}
#gamepage h3 {
  font-size: 35px;
  font-family: Sabo;
  color: green;
}
#alphabet {
  position: relative;
  top: 318px;
  right: 60px;
  border: 4px solid #4CBB17;
  width: 350px;
  font-size: 40px;
  font-family: Courier;
  padding: 10px;
  float: right;
  text-align: center;
  font-family: "courier new";
  font-weight: bold;
  background-color:rgba(0, 0, 0, 0.5);
  color: #4CBB17;
  border-radius: 20px;
}
#gamepage img {
  height: 100%;
  width: 100%;
}
#gamepage #hangman {
  top: 100px;
  left: 5px;
  float: left;
  position: relative;
  height: 450px;
  width: 450px;
}
#hangman div {
  position: absolute;
}
#hangmanpost {
  height: 450px;
  width: 450px;
  z-index: 0
}
#hangmanhead {
  height:50px;
  width: 80px;
  top: 113px;
  left: 240px;
  z-index: 1
}
#hangmanbody {
  height: 100px;
  width: 90px;
  left: 235px;
  top:160px;
  z-index: 1;
}
#hangmanarm1 {
  height: 75px;
  width: 40px;
  left: 197px;
  top: 175px;
  z-index: 1;
}
#hangmanarm2 {
  height: 80px;
  width: 50px;
  left: 325px;
  top: 175px;
  z-index: 1;
}
#hangmanleg1 {
  height: 90px;
  width: 70px;
  left: 190px;
  top: 247px;
}
#hangmanleg2 {
  height: 90px;
  width: 70px;
  left: 300px;
  top: 247px;
}
#word{
  font-family: "courier new";
  position: absolute;
  height: 50px;
  width: 520px;
  top: 165px;
  right: 40px;
  font-size: 35px;
  text-align: center;
}
#gamepage nav {
  background-color:rgba(0, 0, 0, 0.2);
  position: relative;
  top: 70px;
  padding-left: 100px;
  width: 750px;
  left: 30px;
}
#gamepage li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Sabo;
  font-size: 30px;
}
#gamepage ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#gamepage #alphabet a:hover {
  border: 2px solid white;
  color: #fff;
}
#gamepage a {
  color: #4CBB17;
}
.hidden{
  display: none;
}
#lives{
  position: absolute;
  top: 320px;
  right: 100px;
  text-align: center;
}
#lives h1{
  font-size: 25px;
}
.modalDialog3 {
  position: fixed;
  font-family: Courier;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:1;
  text-align: center;
}
.modalDialog3 > div {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

#gameovertext{
  position: absolute;
  top: 150px;
  left: 30px;
}
.returnbtn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 5px 6px 4px #666666;
  -moz-box-shadow: 5px 6px 4px #666666;
  box-shadow: 5px 6px 4px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 27px;
  background: #4CBB17;
  padding: 15px 30px 15px 30px;
  border: solid #4aa81b 5px;
  text-decoration: none;
  position: relative;
  left: 5px;
  top: 50px;
}
.modalDialog4 {
  position: fixed;
  font-family: Courier;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:1;
  pointer-events: none;
  text-align: center;
}
.modalDialog4 > div {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
#wintext{
  position: absolute;
  top: 30px;
}
#wintext h1{
  font-size: 60px;
}