#profilepage body {
  background: url("/assets/screen.png") center top 0px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#profilepage h1 {
  font-size: 60px;
  font-family: Sabo;
}
#profilepage h4 {
  font-size: 50px;
  font-family: Sabo;
  color: #4CBB17;
  text-align: center;
  position: relative;
  bottom: 65px;
  background-color:rgba(0, 0, 0, 0.6);
}
#profilepage #container {
  margin: 0 auto;
  top: 20px;
  width: 810px;
  position: relative;
}
#profilepage .leftwrapper {
  margin: 0 auto;
  width: 310px;
  float: left;
}
#profilepage .rightwrapper {
  margin: 0 auto;
  width: 400px;
  float: right;
  background-color:rgba(0, 0, 0, 0.4);
  height: 492px;
  position: relative;
  top: -45px;
  right: 130px;
  border: solid 4px #4CBB17;
  box-shadow: 10px 10px 5px #888888;
}
#profilepage h2 {
  font-size: 45px;
  font-family: Sabo;
  color: #000;
}
#profilepage h3 {
  font-size: 20px;
  font-family: Courier;
  text-align: center;
}
#profilepage .name {
  color: #4CBB17;
}
#profilepage .profpic {
  width: 200px;
  height: 200px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  left: 55px;
  top: -30px;
}
#profilepage .btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 5px 6px 4px #666666;
  -moz-box-shadow: 5px 6px 4px #666666;
  box-shadow: 5px 6px 4px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 27px;
  background: #4CBB17;
  padding: 15px 30px 15px 30px;
  border: solid #4aa81b 5px;
  text-decoration: none;
  position: relative;
  top: 0;
}
#profilepage .btn:hover {
  background: #4aa81b;
  text-decoration: none;
}
#profilepage h5 {
  font-size: 30px;
  font-family: Courier;
}
#profilepage nav {
  background-color:rgba(0, 0, 0, 0.2);
  position: relative;
  top: 70px;
  width: 768px;
  left: 40px;
  padding-left: 70px;
}
#profilepage li {
  display: inline;
  font-family: Sabo;
  font-size: 40px;
}
#profilepage ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
