<main id="profilepage">
  <div class="container">
    <div class="content">
      <div class="leftwrapper">
        <h1>Techman</h1>
        <h3>
          Welcome, <%= @current_user.username =%>
          <br>
          Your score: <%= @Score =%>
        </h3>
        <button class="btn" onclick="location.href='/game'">Play Now</button>
      </div>
      <div class="rightwrapper">
        <h4>Scoreboard</h4>
        <h5>Top Score: @User</h5>
        @ProfilePic @ Points
      </div>
    </div>
  </div>
</main>
