<main id="profilepage">
  <div class="container">
    <nav>
      <ul>
        <li>Techman</li>
      </ul>
    </nav>
    <div class="content">
      <div class="leftwrapper">
        <h3>
          Welcome, <%= @current_user.username %>
          <br>
          <br>
          <%= image_tag @current_user.avatar.url(:medium) %>
          <br><br>
          Your score: <%= @score %>
        </h3>
        <button class="btn" onclick="location.href='/game'">Play Now</button>
      </div>
      <div class="rightwrapper">
        <h4>Scoreboard</h4>
        <h5>Top Score: @User</h5>
        @ProfilePic @ Points
      </div>
    </div>
  </div>
</main>
