<main id="profilepage">
  <div id="container">
    <div class="leftwrapper">
      <h1>Techman</h1>
      <img class="profpic" src="http://www.pinballnirvana.com/forums/attachment.php?attachmentid=5853&d=1368619927">
      <h3>
        "Welcome, " + <% @current_user %>
        <br>
        Your score: @Score
      </h3>
      <button class="btn">Play Now</button>
    </div>
    <div class="rightwrapper">
      <h4>Scoreboard</h4>
      <h5>Top Score: @User</h5>
      @ProfilePic @ Points
    </div>
  </div>
</main>